.container{
    margin-bottom: 70px;
}
.bg-color{
    background-color: #FEEAE9;
    border-radius: 5px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.price span{
    color: rgb(231, 23, 23);
}
.buy-now-button{
    background-image: linear-gradient(180deg, #ff136f, #FF136F);
    border-radius: 8px;
    color: white;
    border: none;
    padding: 5px 25px;
    cursor: pointer;
    font-weight: bolder;
}

.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.cat1, .cat2, .cat3{
    border-radius: 10px;
    padding: 10px 30px;
}
p span{
    color: red;
    font-weight: bold;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.card-text{
    font-size: 15px;
    text-align: justify;
}
#contact{
    height: 300px;
    margin: 80px 0px 40px 0px;
}
.copyright{
    font-size: 13px;
}
